/*
    Rockfish Configuration
*/

singularity.enabled     = true
singularity.autoMounts  = true
conda.enabled           = false
docker.enabled          = false
podman.enabled          = false
shifter.enabled         = false
charliecloud.enabled    = false
apptainer.enabled       = false
params.validate_params  = false

process {
    executor = 'slurm'
    queueSize = 100
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    queue = "parallel"

    withLabel: "local" {
        executor = "local"
        maxRetries = 0
        errorStrategy = "terminate"
    }

    withName: "FASTP" {
        ext.args = {[
            "--length_required ${params.min_length}"
        ].join(' ').trim()}
    }

    withName: "SI_BWA_MEM" {
        array = 100
    }

    withName: "SI_SAMTOOLS_INDEX" {
        array = 100
    }

    withName: "SI_SAMTOOLS_IDXSTATS" {
        array = 100
    }

    withName: "AR_BWA_MEM" {
        array = 100
    }
    withName: "PICARD_ADDORREPLACEREADGROUPS" {
        array = 100
        ext.args = {[
            "-LB ${meta.id}",
            "-PL ILLUMINA",
            "-SM ${meta.id}",
            "-PU \" \""
        ].join(' ').trim()}
        ext.prefix = {"${meta.id}.rg"} 
    }

    withName: "PICARD_MARKDUPLICATES" {
        array = 100
        ext.prefix = {"${meta.id}.dedup"}
        ext.args = {[
            "--CREATE_INDEX",
            "--VALIDATION_STRINGENCY LENIENT",
            "--REMOVE_DUPLICATES true"
        ].join(' ').trim()}
    }
}

